@import url('/node_modules/boxicons/css/boxicons.min.css');

:root {
    --hv-pink: #e87c80;
    --hv-pink-dark: #e4676b;
    --hv-pink-light: #FAE4E5;
    --hv-pink-darkest: #643e40;
    --hv-black: #000;
}

/* Umum */
.text-pink {
    color: var(--hv-pink) !important;
}
a.text-pink:hover {
    color: var(--hv-pink-dark) !important;
}
.text-pink-dark {
    color: var(--hv-pink-darkest) !important;
}
.btn-pink {
    background-color: var(--hv-pink);
    color: var(--bs-white);
}
.btn-pink:hover {
    background-color: var(--hv-pink-dark);
    color: var(--bs-white);
}
.bg-pink-light {
    background-color: var(--hv-pink-light);
}
.bg-black {
    background-color: var(--hv-black);
}
.hv-garis {
    background-color: var(--bs-dark);
    width: 3rem;
    height: .25rem;
}
.border-foot {
    border-color: #3b3b3b !important;
}

/* Nav */
.nav-link {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: .2s ease-in;
}
.nav-link:hover {
    color: var(--hv-pink) !important;
}
.nav-link.active {
    color: var(--hv-pink) !important;
    font-weight: 500;
}
.scroll-header {
    background-color: var(--bs-white);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: .2s ease-in;
}

/* Selingan */
.selingan-bg {
    background: url('/img/chayra.png') no-repeat center/cover;
    text-align: center;
    color: var(--bs-white);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.selingan-title {
    letter-spacing: .2rem;
    text-transform: uppercase;
}
.selingan-desc {
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

/* Footer */
section.footer {
    color: var(--bs-white) !important;
}
section.footer a {
    color: var(--bs-white) !important;
    text-decoration: none !important;
    transition: .1s ease-in;
}
section.footer a:hover {
    color: var(--hv-pink) !important;
    text-decoration: none !important;
}