:root {
    --hv-pink: #e87c80;
    --hv-pink-dark: #e4676b;
    --hv-pink-light: #FAE4E5;
    --hv-pink-darkest: #643e40;
    --hv-black: #000;
}

/* Umum */
    /* Link */
    a {
        text-decoration: none;
    }
    a.text-pink {
        text-decoration: none;
    }
    a.text-pink:hover {
        color: var(--hv-pink-dark) !important;
    }

    /* Text */
    .text-pink {
        color: var(--hv-pink) !important;
    }
    .text-pink-dark {
        color: var(--hv-pink-darkest) !important;
    }

    /* Button */
    .btn-pink {
        background-color: var(--hv-pink);
        color: var(--bs-white);
    }
    .btn-pink:hover {
        background-color: var(--hv-pink-dark);
        color: var(--bs-white);
    }
    .btn-outline-pink {
        border-color: var(--hv-pink);
        color: var(--hv-pink);
    }
    .btn-outline-pink:hover {
        color: var(--hv-pink);
    }
    .btn-pink:focus, .btn-outline-pink:focus {
        box-shadow: 0 0 0 0.25rem rgba(232, 124, 128, 0.25);
    }

    /* Background */
    .bg-pink-light {
        background-color: var(--hv-pink-light);
    }
    .bg-pink {
        background-color: var(--hv-pink);
    }
    .bg-black {
        background-color: var(--hv-black);
    }

    /* Garis */
    .hv-garis {
        background-color: var(--bs-dark);
        width: 3rem;
        height: .25rem;
    }
    .hv-garis-pink {
        background-color: var(--hv-pink);
        width: 4.5rem;
        height: .25rem;
    }

    /* Border */
    .border-foot {
        border-color: #3b3b3b !important;
    }
    .border-radius-1 {
        border-radius: 1rem;
    }


/* Form */
.form-control:focus {
    border-color: var(--hv-pink);
    box-shadow: 0 0 0 0.25rem rgba(232, 124, 128, 0.25);
}
.form-select:focus {
    border-color: var(--hv-pink);
    box-shadow: 0 0 0 0.25rem rgba(232, 124, 128, 0.25);
}


/* Nav */
.nav-link {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: .2s ease-in;
}
.nav-link:hover {
    color: var(--hv-pink) !important;
}
.nav-link.active {
    color: var(--hv-pink) !important;
    font-weight: 500;
}
.scroll-header {
    background-color: var(--bs-white);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: .2s ease-in;
}

/* Selingan */
.selingan-bg {
    background: url('/img/chayra.png') no-repeat center/cover;
    text-align: center;
    color: var(--bs-white);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.selingan-title {
    letter-spacing: .2rem;
    text-transform: uppercase;
}
.selingan-desc {
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

/* Cart */
section.cart .list-group {
    border-radius: 0;
}
section.cart li.list-group-item {
    border-left: none;
    border-right: none;
}
section.cart li.list-group-item img {
    height: 8rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
}

/* Footer */
section.footer {
    color: var(--bs-white) !important;
}
section.footer a {
    color: var(--bs-white) !important;
    text-decoration: none !important;
    transition: .1s ease-in;
}
section.footer a:hover {
    color: var(--hv-pink) !important;
    text-decoration: none !important;
}