/*
Custom Css for Hi Valeeqa
*/

/* General */
:root {
    --hv-primary: #F09AA1;
    --hv-primary-dark: #e87c80;
    --hv-primary-dark-hover: #e05156;
    --hv-primary-light: #f5e9e9;
}
.text-pink { color: var(--hv-primary) !important;}
.btn-pink { 
    background-color: var(--hv-primary-dark);
    color: #ffffff;
}
.btn-pink:hover {
    background-color: var(--hv-primary-dark-hover);
    color: #ffffff;
}
.bg-pink { 
    background-color: var(--hv-primary-dark);
    color: #ffffff;
}
.bg-light {
    background-color: var(--hv-primary-light) !important;
}
a.text-light {
    text-decoration: none;
}

/* Header */
#templatemo_search {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
}