/*
Custom Css for Hi Valeeqa
*/

/* General */
:root {
    --hv-primary: #e87c80;
    --hv-primary-hover: #e05156;
    --hv-primary-light: #f5e9e9;
}
.text-pink { color: var(--hv-primary) !important;}
.btn-pink { 
    background-color: var(--hv-primary);
    color: #ffffff;
}
.btn-pink:hover {
    background-color: var(--hv-primary-hover);
    color: #ffffff;
}
.btn-outline-pink {
    background-color: #ffffff;
    color: var(--hv-primary);
    border-color: var(--hv-primary);
}
.btn-outline-pink:hover {
    background-color: var(--hv-primary);
    color: #ffffff;
    border-color: var(--hv-primary);
}
.bg-pink { 
    background-color: var(--hv-primary);
    color: #ffffff;
}
.bg-light {
    background-color: var(--hv-primary-light) !important;
}
a.text-light {
    text-decoration: none;
}

/* Header */
#templatemo_search {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
}